<div class="detail-card">
    <div [ngStyle]="{
        'height': activeSection === 'abilities' ? '500px' : (activeSection === 'skins' ? '0px' : '250px')
      }" class="info-container">
        <div [style.display]="activeSection === 'abilities' || activeSection === 'stats' || activeSection === 'skins' ? 'none' : 'flex'"
            class="name">
            <p>{{ champion?.name }}</p>
        </div>
        <div [style.display]="activeSection === 'abilities' || activeSection === 'stats' || activeSection === 'skins' ? 'none' : 'flex'"
            class="title">
            <p>{{ champion?.title }}</p>
        </div>
        <div [style.display]="activeSection === 'abilities' || activeSection === 'stats' || activeSection === 'skins' ? 'none' : 'flex'"
            class="info">
            <div class="stats">
                <button (click)="showSection('abilities')">Fähigkeiten</button>
                <button (click)="showSection('stats')">Stats</button>
            </div>
            <div class="skins">
                <button (click)="showSection('skins')">Skins</button>
                <button (click)="showSection(null)" (click)="closeDialog()" class="close">Close</button>
            </div>
        </div>
        <div class="abilities" *ngIf="activeSection === 'abilities'">
            <div (click)="showPassive()" class="passive-container">
                <img [ngClass]="showP ? 'selected-border': ''" class="passive"
                    [src]="'https://ddragon.leagueoflegends.com/cdn/15.1.1/img/passive/' + champion?.passive?.image?.full"
                    alt=>
                <p>P</p>
            </div>
            <div class="line-container">
                <div class="line"></div>
            </div>
            <div (click)="showQAbilty()" class="passive-container">
                <img [ngClass]="showQ ? 'selected-border': ''"
                    [src]="'https://ddragon.leagueoflegends.com/cdn/15.1.1/img/spell/' + champion?.spells[0]?.image?.full"
                    alt=>
                <p>Q</p>
            </div>
            <div (click)="showWAbilty()" class="passive-container">
                <img [ngClass]="showW ? 'selected-border': ''"
                    [src]="'https://ddragon.leagueoflegends.com/cdn/15.1.1/img/spell/' + champion?.spells[1]?.image?.full"
                    alt=>
                <p>W</p>
            </div>
            <div (click)="showEAbilty()" class="passive-container">
                <img [ngClass]="showE ? 'selected-border': ''"
                    [src]="'https://ddragon.leagueoflegends.com/cdn/15.1.1/img/spell/' + champion?.spells[2]?.image?.full"
                    alt=>
                <p>E</p>
            </div>
            <div (click)="showRAbilty()" class="passive-container">
                <img [ngClass]="showR ? 'selected-border': ''"
                    [src]="'https://ddragon.leagueoflegends.com/cdn/15.1.1/img/spell/' + champion?.spells[3]?.image?.full"
                    alt=>
                <p>R</p>
            </div>
        </div>
        <div class="show-ability" *ngIf="showP">
            <p [innerHTML]="champPassive">{{ champion.passive.description }}</p>

        </div>
        <div class="show-ability" *ngIf="showQ">
            <p [innerHTML]="champQ">{{ champion.spells[0].description }}</p>

        </div>
        <div class="show-ability" *ngIf="showW">
            <p [innerHTML]="champW">{{ champion.spells[1].description }}</p>

        </div>
        <div class="show-ability" *ngIf="showE">
            <p [innerHTML]="champE">{{ champion.spells[2].description }}</p>

        </div>
        <div class="show-ability" *ngIf="showR">
            <p [innerHTML]="champR">{{ champion.spells[3].description }}</p>

        </div>


       

        <div *ngIf="activeSection === 'stats'">
            <p>Hier werden die Statistiken angezeigt...</p>
        </div>
        <div *ngIf="activeSection === 'abilities'" class="back-button">
            <button (click)="showSection(null)">Back</button>
        </div>
    </div>
   

    <img [ngClass]="{'d-none': activeSection === 'skins'}" [src]="'https://ddragon.leagueoflegends.com/cdn/img/champion/loading/' + champion?.id + '_0.jpg'"
        alt="{{ champion?.name}}">

</div>
<div class="overlay" *ngIf="activeSection === 'skins'">
    <div class="left">
        <img class="left-img" (click)="lastImg()" src="./assets/img/angle-left.png" alt="">
    </div>
    <img [src]="'https://ddragon.leagueoflegends.com/cdn/img/champion/loading/' + champion.name + '_' + imageIndex + '.jpg'"
        alt="">
        <div class="right">
            <img class="right-img" (click)="nextImg()" src="./assets/img/angle-right.png" alt="">
        </div>

</div>