.main {
    width: 100%;
    background: linear-gradient(to right, rgb(81,84,87), rgb(36,42,47));
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
